/* -------------- */
/* Custom properties  */
/* -------------- */
:root {
  /* colors */
  --primary: 26 100% 55%;
  --primary-light: 25 100% 94%;
  --neutral-dark: 220 13% 13%;
  --neutral-gray-dark: 219 9% 45%;
  --neutral-gray-light: 223 64% 98%;
  --light: 0 0% 100%;
  --dark: 0 0% 0%;

  /* font family */
  --ff-sans:"Kunbh Sans", sans-serif;

  /* font sizes */
  --fs-normal: 400;
  --fs-bold: 700;
}

.App {
  font-family: var(--ff-sans);
}